root {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: #bcdeff;
}

p {
  text-align: justify;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: #242424 2px 2px 1px;
}

#principal {
  background-color: #abcdef;
  width: 600px;
  margin: auto;
  padding: 60px;
  box-shadow: #242424 4px 4px 4px;
  border-radius: 6px;
  text-align: justify;
}

.verde { color: green; }