root {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: #bcdeff;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: #242424 2px 2px 1px;
}

h2 {
  text-align: center;
  padding-top: 32px;
  font-size: 18px;
}

form {
  background-color: #abcdef;
  width: 460px;
  margin: auto;
  padding: 60px 10px 60px 10px;
  box-shadow: #242424 4px 4px 4px;
  border-radius: 6px;
  text-align: center;
}

table {
  background-color: #abcdef;
  margin: auto;
  padding: 20px;
  box-shadow: #242424 4px 4px 4px;
  text-align: right;
  border: 0px;
  border-collapse: collapse;
}

th {
  background-color: #aaaadd;
  color: white;
  padding: 4px;
  margin: 2px;
}

td {
  padding: 10px;
}