root {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: #bcdeff;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  color: #9abcde;
  text-shadow: #242424 2px 2px 1px;
}

h2 {
  text-align: center;
  padding-top: 32px;
  font-size: 18px;
}

form {
  background-color: #abcdef;
  width: 600px;
  margin: auto;
  padding: 60px;
  box-shadow: #242424 4px 4px 4px;
  border-radius: 10px;
  text-align: justify;
}