root {
  display: block;
}

body {
  background-color: #ddeedd;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: aquamarine;
  text-shadow: #242424 2px 2px 2px;
}

h2 {
  text-align: center;
  padding-top: 32px;
  font-size: 18px;
}

table {
  background-color: aquamarine;
  margin: auto;
  box-shadow: #242424 4px 4px 4px;
  padding: 20px;
  text-align: center;
}