root {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: #bcdeff;
}

p {
  text-align: justify;
}

h1 {
  font-size: 24px;
  text-align: center;
  color: white;
  text-shadow: #242424 2px 2px 1px;
  padding: 20px;
}

#principal {
  background-image: url(texturaverde.jpg);
  width: 800px;
  margin: auto;
  margin-top: 20px;
  padding: 60px;
  box-shadow: #242424 4px 4px 4px;
  border-radius: 6px;
  text-align: justify;
}